@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('https://photos.app.goo.gl/gd3FQUAeJjYgnEhv5');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.content-wrapper {
  background: rgba(219, 234, 254, 0.8);
  min-height: 100vh;
  backdrop-filter: blur(4px);
}

@media print {
  body {
    background: none;
  }
  
  .content-wrapper {
    background: none;
    backdrop-filter: none;
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }

  .print\:hidden {
    display: none !important;
  }
}